body{
margin:0;
background: #40916c; 

}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #353c56;
  }
  ::-webkit-scrollbar-thumb {
    background: #755cd3;
    border-radius: 50%;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #8d82f3;
  }