body{
margin:0;
background-color:#353b41;

}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #353c56; /*arka plan*/
  }
  ::-webkit-scrollbar-thumb {
    background: #755cd3; /*gözüktüğü renk*/
    border-radius: 50%;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #8d82f3;/*mouse gelince renk*/
  }